/**************************************************************************** 
	STYLING THE HEADER SECTION
****************************************************************************/
#header {
	background:url(../img/css/header-bg.png) 0 0 repeat;
	padding:30px 0px 0px;;
}

.header-content { 
	margin-top: 10px;
}
		
.logo { 
	width:500px; 
	top:25px; 
	left:0;
	margin-top: 20px;
		
}

.logo, .logo a { 
	color:#fff; 
	line-height:30px; 
	font-size:30px; 
	font-family:'Rationale',Arial, Helvetica, sans-serif; 
	text-align:left; 
	text-decoration:none;
}

/*************************** STYLING THE MENU *************************/
.navbar .menu {
	background:url(../img/css/header-bg.png) 0 0 repeat;
	margin-bottom: 10px;
	margin-top: 10px;
}

.navbar .navbar-inner{
	border: none;
	border-top: 1px solid black;
	background:url(../img/css/header.png) 0 0 repeat;
}

.navbar .menu .nav > li > a {
	color: white;
	text-shadow: none;
	width: 125px;
	text-align: center;
}

.navbar .menu .nav > li > a:focus,
.navbar .menu .nav > li > a:hover{
	color: orange;
}

.navbar .menu .nav > .active > a, 
.navbar .menu .nav > .active > a:hover{
	color: orange;
	background-color: black;
}

/**************************************************************************** 
	STYLING THE BODY
****************************************************************************/
.body_content{
	min-height: 400px;
 }

#sidebar{
	padding:0;
	float: right;
	width: 320px;
	margin: 0;
	}
	
#sidebar .module{
	padding:0 10px; 
	margin:0 0 20px 0;
	}
	
#sidebar .module-title{
	font-size:30px; 
	line-height:35px; 
	color:#B37600;  
	padding:0 0 0 10px; 
	margin:0;
	}
	
#sidebar h3 {
	}
#sidebar .module-body{margin:0; padding:0;}
#sidebar .module-body p{
	padding:0;
	margin:0;}
#sidebar .inner{ 
	margin:0; 
	padding:5px 10px ; }

/**************************************************************************** 
	STYLING THE FOOTER
****************************************************************************/
#footer{
	background:url(../img/css/header-bg.png) 0 0 repeat;
	margin-top: 10px;
	padding:30px;
	min-height: 50px;
}
